@import "tailwindcss";

@theme inline {
  --color-gold-300: #fde047;
  --color-gold-400: #facc15;
  --color-gold-500: #eab308;
  --color-emerald-800: #065f46;

  --font-serif: var(--font-playfair);
  --font-sans: var(--font-inter);
}

:root {
  --background: #fdfdfc;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  overflow-x: hidden;
}

/* ================================
   Scrollbar
================================ */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #9ca3af;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6b7280;
}

/* ================================
   Swiper
================================ */

.swiper {
  width: 100%;
  height: calc(100vh - 116px);
}

.swiper-slide {
  width: 100%;
  height: calc(100vh - 116px);
}

@media (min-width: 768px) {
  .swiper,
  .swiper-slide {
    height: calc(100vh - 130px);
  }
}

/* Pagination */

.swiper-pagination {
  bottom: 30px !important;
  left: 50% !important;
  transform: translateX(-50%);
  display: flex !important;
  justify-content: center;
  align-items: center;
  gap: 10px;
  z-index: 20;
}

/* Hero Swiper Pagination */
.heroSwiper .swiper-pagination {
  position: absolute;
  bottom: 30px !important;

  left: 50% !important;
  transform: translateX(-50%) !important;

  width: fit-content !important;

  display: flex !important;
  align-items: center;
  justify-content: center;
  gap: 10px;

  z-index: 20;
}

/* Bullet */
.heroSwiper .swiper-pagination-bullet {
  width: 10px !important;
  height: 10px !important;
  margin: 0 !important;
  border-radius: 999px;
  background: rgba(255,255,255,.45) !important;
  opacity: 1 !important;
  transition: all .35s ease;
}

/* Active Bullet */
.heroSwiper .swiper-pagination-bullet-active {
  width: 34px !important;
  height: 10px !important;
  background: #caa146 !important;
}
