@import "tailwindcss";

@theme inline {
  --color-gold-300: #fde047;
  --color-gold-400: #facc15;
  --color-gold-500: #eab308;
  --color-emerald-800: #065f46;
  
  --font-serif: var(--font-playfair);
  --font-sans: var(--font-inter);
}

:root {
  --background: #fdfdfc;
  --foreground: #171717;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #a3a3a3;
}

::-webkit-scrollbar-thumb:hover {
  background: #737373;
}
